@font-face {
  font-family: 'Aleo';
  src: url('fonts/Aleo-Bold.otf');
  src: url('fonts/Aleo-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Aleo';
  src: url('fonts/Aleo-Regular.otf');
  src: url('fonts/Aleo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

