@font-face {
  font-family: 'Aleo';
  src: url('fonts/Aleo-Bold.otf');
  src: url('fonts/Aleo-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Aleo';
  src: url('fonts/Aleo-Regular.otf');
  src: url('fonts/Aleo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('fonts/Latto-300.woff') format('woff');
}