/* Pre Styles */
header, footer, article, nav, section, aside, hgroup{
		display:block;
	}
html, body, header, footer, article, nav, section, aside, time, h1, h2, h3, p, a, ul, li, dl, dd, dt, table, thead, tfoot, tbody, th, tr, td{
	border:0;
	margin:0;
	outline:0;
	padding:0;
}
html{  
	height: 100%; 
	overflow-y: scroll;
}
body {
    color: rgba(0,0,0,0,0.8);
    font: 300 16px Lato,'Open Sans',sans-serif;
}
img{
	max-width: 100%;
	display: block;
}
ol, ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
p{
    line-height: 1.5em;
    padding: 0.7em 0 0 0;
    font-size: 0.9em;
}
strong{
	font-weight: bold;
}
article p, article li{
    line-height: 1.75em;
    font-size: 1.2rem;
    font-family: Georgia,"Times New Roman",Times,serif;
}
.bits-article p, .bits-article li{
	font-size: 1.4rem;
}
article ul{
	list-style: disc;
	padding-left: 4rem;
}
article ol{
	list-style: decimal;
	padding-left: 4rem;
}
article a{
	border-bottom: 1px solid rgba(4,61,248,0.2);
	text-decoration: none;
}
article a:hover{
	border-color: rgba(4,61,248,1);
	text-decoration: none;
}
article img{
	margin:5px auto;
	position: relative;
}
article img+small{
	width: 80%;
	margin: 5px auto;
	font-style: italic;
	display: block;
	color: #c1c1c1;
	font-family: Georgia,"Times New Roman",Times,serif;
}
blockquote{
	font-style: italic;
	border-left: 3px solid rgba(0,0,0,0.2);
	margin-left: 0;
	padding-left: 20px;
}
article h1, article h2, article h3, article h4{
	margin-top: 35px;
	margin-bottom: 0px;
}
a{
	color: rgba(4,61,248,1);
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	color: rgba(59,89,152,0.8);
}
pre{
	white-space: pre-wrap;
	word-wrap: break-word;
	border-bottom: 1px solid rgb(229, 229, 229);
	border-top: 1px solid rgb(229, 229, 229);
}
pre code{
	font-size: 0.9em;
	margin: 1em 0px;
	padding-left: 1.5em;
	background: #fff !important;
    line-height: 1.6em;
    position: relative;
}
pre code:before{
	content: "\f071  IT'S CODE HERE";
	color: #ccc;
	font-family: FontAwesome, Lato, "Open sans";
	position:absolute;
	font-size: 0.6em;
	top: -1.5em;
	right: 0em;
	border-bottom: 1px solid rgba(229,229,229,0.5);
}
pre code:hover:before{
	color: #000;
}
code{
	padding: 0px 3px;
	background: none repeat scroll 0% 0% #EEE;
	font-size: 1.2rem;
}
h1,h2,h3,h4,h5,h6{
	text-transform: capitalize;
	font-family: Aleo, Lato, "Times New Roman",Times,serif;
	letter-spacing: 1px;
	font-weight: bold;
}
h1.light,h2.light,h3.light,h4.light,h5.light,h6.light { font-weight: normal;}
h1{	font-size: 40px; }
h2{ font-size: 36px; }
h3{ font-size: 32px; }
h4{ font-size: 28px; }
h5,h6 {
	font-style: italic;
	padding:5px;
	margin: 0;
}
/* Custom Heading Styles */
.section-heading{
	width: 100%;
	padding: 5px;
	border-bottom: 5px solid rgba(0,0,0,0.1);
	font-size: 1rem;
	position: relative;
	margin-bottom: 0.5rem;
}
.section-heading:after{
	content: "\f175";
	font-family: 'FontAwesome';
	color: rgba(0,0,0,0.2);
	font-size: 0.7rem !important;
	position: absolute;
	right: 10px;
	bottom: 5px;
	cursor: default;
}

/*Download Links & Buttons & inputs */
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="file"]), textarea {
	outline: 0;
	margin:0;
	padding:7px;
	
	font-style: italic;
	color:rgba(0,0,0,0.6);
	background: rgba(238,238,238,1);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 0px;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.04);
}

input[type="submit"]{
	background: none repeat scroll 0% 0% rgba(0,0,0,0.8);
	color: rgba(255,255,255,1);
	border: 0px none;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 0px;

}
input[type="submit"]:hover{
	background:rgba(4,61,248,1);
}

button, input, select, textarea {
	width: auto;
	height: 35px;
	overflow: visible;
	margin: 0;
	font-family: sans-serif;
}

.button{
	display: inline-block;
	background: rgba(0,0,0,0.8);
	padding:0 10px;
	border-bottom: 3px solid rgb(229,229,229);
	color: rgba(0,0,0,1);
	font-family: Lato, "Open sans";
	font-size: 1rem;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
}
.button .fa{
	font-size: 80% !important;
}
/* End of input */
.content-inner{
	width: 100%;
	margin: 0 auto;
}
#wide .inner-container{
	max-width: 1280px;
	width:100%;
}
.inner-container{
	width: 100%;
	max-width: 1080px;
	margin:0 auto;
	padding: 0 10px;
	position: relative;
}
#main-header{
	min-height: 50px;
	width: 100%;
}
.logo{
	text-indent: -999px;
	background: url('../images/logo.png');
	background-repeat: no-repeat;
	display: block;
	width: 180px;
	height: 70px;
}
#content-header{
	width: 100%;
	overflow: hidden;
	background:#f9f9f9;
}
.article-image{
	max-width: 580px;
	width: 100%;
	margin-right: 0;
	margin-left: auto;
	position: relative;
}
.article-image a:hover .overlay-box{
	background-color: rgba(4,61,248,0.4);;
}
#wide .article-image{
	margin-left: 0;
}
.article-info-container{
	max-width: 580px;
}
.overlay-box{
	position: absolute;
	width: 100%;
	padding:0.5em;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
}
.overlay-heading{
	color: rgba(225,225,225,1);
	font-size: 1.2rem;
}
/* bits container */
.bits-container,.feeds-header-container{
	width: 100%;
	max-width: 580px;
	height: 100%;
	position: relative;

}
.bits{
	max-height: 300px;
	overflow-y:auto;
}
.bit a{
	display: block;
	padding:10px 0; 
	color: #93A1A1;   
	border-bottom: 1px solid rgba(0,0,0,0.1);
	text-decoration: none;
	font-size: 1em;
}
.bit a:hover *{
	color: rgba(0,0,0,1) !important;
}
.section-link{
	padding-top: 5px;
	padding-bottom: 0;
}
.bit-title{
	font-size: 1.2rem;
	color: rgba(0,0,0,0.6);
}
.more-bits a{
	text-align: right;
	border: none;
}
.more-bits a:hover{
	color: rgba(0,0,0,0.8);	
}

.feed-header{
	padding-top: 10px;
	height: 100%;
}
.feed-header li{
	height: 100%;
}
.feed-header a{
	display: block;
	width: 100%;
	height: auto;
	min-height: 80px;
	text-align: center;
	vertical-align: middle;
	font-size: 5rem;
	text-decoration: none;
}
.hover-eff{
	display: none;
}
a.tw-rss{
	background-color: rgba(225,135,40,1);
	color: rgba(255,255,255,1);
}
a.tw-rss:hover .fa{
	display: none;
}
a.tw-rss:hover .hover-eff{
	display: block;
	text-decoration: none !important;
	font-weight: bold;
	color: rgba(255,255,255,1);
}
a.tw-twitter{
	background-color: rgba(85,172,238,1);
	color: rgba(255,255,255,1);
}
a.tw-twitter:hover{
	background-color: rgba(41,47,51,1);
	color: rgba(255,255,255,1);
}
.cat-list {
	padding-top:20px;
    margin-right: 10px;
    display: inline-block;
}
.cat-list li{
	display: inline-block;
	margin-top: 5px;
}
.cat-list a{
	color: rgba(0,0,0,0.6);
	display: inline-block;
	font-size: 0.875rem;
	padding: 5px 10px;
	border: 1px solid rgba(0,0,0,0.1);
	text-decoration: none;
	background: rgba(238,238,238,1);
}
.cat-list a:hover {
    border-color: rgba(0,0,0,0.2);
}
.cat-list .active{
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    background: rgba(238,238,238,0.2);
}
.cat-desc{
	padding-bottom: 1rem;
}
.cat-desc p{
	font-size: 1rem;
	font-style: italic;
	color: rgba(0, 0, 0, 0.6) ;
}
.section-link{
	font-size: 0.8em;
}
/* end of bits container */
.advert{
	text-transform: uppercase;
	font-size: 10px;
}
.bsa_it a{
	display: table-cell;
	vertical-align: top;
	max-width: 200px;
	line-height: 0.7em !important;
}
.ad-h{
	max-width: 300px;
	padding: 10px;
}
.ad-ver{
	width: 150px;
	height: 160px;
	position: relative;
	background: rgba(255,255,255,0.5);
	font-size: 16px;
}
.bsa_it_ad{
      background: transparent;
      border: none;
      padding: 15px 15px 0 15px;      
}
.ad .text{
	padding: 5px;
}
.bsa_it_d {
	font-size: 10px; 
}
.bsa_it_p { display: none;   }
.bsa_it_t { display: block; font-size: 13px; font-weight: bold;}
.bsa_powered_div{text-align:right;}
.bsa_powered_div a{
      color:rgb(169, 167, 150);
      font-family:Verdana,sans-serif;
      font-size:0.6em;
}
#content-article{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
}
.article-heading{
	margin-top: 20px;
	margin-bottom: 0;
	color: rgba(0,0,0,1);
	font-size: 2rem;
	line-height: 1.2em;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.post-addon{
	margin: 0.5em 0;
}
.post-addon li{
	display: inline-block;
	margin-right: 2em;
	font-size: 0.80rem;
	color: rgba(0,0,0,0.6);
}
.post-addon a{
	color: rgba(0,0,0,0.6);
}
.article-sharing{
	width: 100%;
	margin: 2em 0;
	font-weight: 100;
	font-size: 0.85rem;
	opacity: 0.8;
}
.article-sharing:hover{
	opacity: 1;
}
.article-sharing i{
	margin-right: 0.2em;
	font-size: 1.1em;
	color: rgba(0, 0, 0, 0.6) ;
}
.article-sharing a{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6) ;
	font-size: 0.85rem
}
.article-sharing a:hover{
	text-decoration: underline;
}
.article-sharing a:visited{
	text-decoration: line-through;
}
.article-sharing li{
	display: inline-block;
	margin-right: 0.3em;
}
.article-sharing .top{
	float: right;
}
.author-avatar{
	max-width: 105px;
}
.author-social li{
	margin-top: 5px;
	margin-left: 5px;
	display: inline-block;
}
/*Side bar*/
.newsletter{
	margin-top: 0.5rem;
}
.powered_by{
	font-size: 0.8rem;
	text-align: right;
	opacity: 0.8;
}
.top-search{
	width: 100%;
	padding: 10px 0;
}
#search-container{
	background: rgba(0, 0, 0, 0.1);
}
.search-box{
	width: 89%;
	border: medium none;
	outline-width: 0px;
	padding-left: 15px;
	padding-right: 3.4em;
	background-color: #fff !important;
}
.search-button{
	width: 10%;
}

.add-on-main, .add-on-bits{
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	min-height: 200px;
	padding-right: 5px !important;
}

.add-on-main img{
	max-width: 150px;
	width: 100%;
}
.article-add-info{
	font-size: 0.8em;
}
.post-list li{
	padding: 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.post-title-a{
	color: rgba(0, 0, 0, 0.8)  !important;
}
.post-title-a:hover{
	color: rgba(4,61,248,1) !important;
	text-decoration: none;
}
.more-post{
	border: none !important;
	text-align: right;
}
.more-post a{
	text-decoration: none;
	margin-right: 2rem;
	padding:0.4rem;
}
.more-post	a:hover{
	background: rgba(4,61,248,1);
	color: rgba(255,255,255,1);
}
.post-list-title{
	font-size: 1.2em;
}
.post-image-small{
	max-width: 150px;
}
.post-image-small a{
	border-bottom: 5px solid transparent;
	display: block;
}
.post-image-small a:hover{
	border-bottom: 10px solid rgba(4, 61, 248, 0.7);
}
/*navigation */
.pagination {
	margin-top: 1.4rem;
	margin-bottom: 1rem;
	text-align: right;
	padding-right: 1rem;
}
.pagination li{
	display: inline-block;
	margin-left: 0.4rem;
	font-size: 0.9rem;
	margin-top: 5px;
}
.pagination a{
	display: block;
	padding: 5px 10px; 
	background: rgba(238,238,238,1);
	color: rgba(0,0,0,1);
}
.pagination a:hover{
	background: rgba(4,61,248,1);
	color: #fff;
	text-decoration: none;
}
.pagination .active a{
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) inset;
	background: rgba(0,0,0,1);;
	color: rgba(255,255,255,1);
}
/*Browser Compactablilty */

.compatibility{
	border-bottom:5px solid rgba(0,0,0,0.2);
}

.compatibility p{
	font-family: Lato,Georgia,"Times New Roman",Times,serif !important;
	font-size: 16px;
	color:rgba(204,51,0,1);
}
.icon-holder{
	text-align: center;
}
.compatibility .icons{
	width:35px;
	height:35px;
	margin-top:10px;
	display: inline-block;
}
.compatibility .un{background:#000000;opacity:0.3;}
.compatibility .chrome{background: url('http://ns2.techstream.org/icons/browsers/compatible_chrome.gif') no-repeat ;}
.compatibility .firefox{background: url('http://ns2.techstream.org/icons/browsers/compatible_firefox.gif') no-repeat ;}
.compatibility .safari{	background: url('http://ns2.techstream.org/icons/browsers/compatible_safari.gif') no-repeat ;}
.compatibility .opera{	background: url('http://ns2.techstream.org/icons/browsers/compatible_opera.gif') no-repeat ;}
.compatibility .IE{	background: url('http://ns2.techstream.org/icons/browsers/compatible_IE.gif') no-repeat ;}

/* Side bar items */

.search img{
	width: auto;
	display: inline-block;
}

#footer{
	background: #E6E7E8;
	font-weight:100;
	color: #000;
	font-size: 0.83rem;
}
.footer-links{
	list-style: none;
	line-height: 50px;
}
.footer-links li{
	display: inline;
	margin-right: 15px;
}
.footer-links a{
	text-decoration: none;
	color: rgba(0,0,0,1);
	font-weight:bold;
}
.footer-links a:hover{
	text-decoration: underline;
}
.footer-right{
	text-align: right;
}
.footer-social li:after{
	content: "*";
	padding-left: 5px;
	position: absolute;
	top: 0.4rem;
	font-size: 1.2rem;
}
.footer-social li:last-child:after, .footer-social li:first-child:after{
	content: " " ;
	padding: 0;
}
.footer-bottom{
	margin-top: 30px;
	border-top: 1px solid rgba(255,255,255,1);
	font-size: 0.70rem;
}
.footer-bottom a{
	font-weight: normal !important;
}
.footer-bottom li{
	margin-right: 10px !important;
}

/* Custom Res Targets */
@media(max-width: 1200px){
	.bit a{
		padding: 6px 0;
	}
}

@media(max-width: 1000px){
	.section-link{
		display: none;
	}
	.bit a{
		padding: 4% 0;
	}
	.feed-header a{
		font-size: 3.5em;
		min-height: 60px;
	}
	.article-heading{
		font-size: 1.7rem;
		padding-bottom: 5px;
		margin-top: 20px;
	}
	.ad-h{
		padding:5px;
		margin-top: 0px;
	}
}
@media(max-width: 540px){
	.pagination li:first-child{
		display: block;
	}
}
/*Standard breaks of Grid*/
@media(max-width: 840px){
	.article-heading{
		font-size: 1.5rem;
	}
	.bit a{
		padding: 3% 0;
	}
	.feed-header a{
		font-size: 3.2em;
		min-height: 60px;
	}
	.pagination {
		text-align: left;
	}
}
@media(max-width:768px){
	.bit a{
		padding: 10px;
		border-right: 1px solid rgb(0,0,0,0.2);
		border-left: 1px solid rgb(0,0,0,0.2);
	}
	.section-link{
		display: block;
	}
	.sidebar div{
		display: inline-block;
		max-width: 300px;
		vertical-align: top;
		margin-right: 2em;
	}
	.add-on-main{
		border-bottom: 1px solid rgb(0,0,0,0.2);
		border: none;
	}
	.sidebar div {
		display: block;
		margin: 0 auto;
	}
	footer, .footer-right{
		text-align: center;
	}
}
@media(max-width:360px){
	.center{
		padding: 0 !important;
	}
}